#menu-bar {
	padding: 0;
  	height: 45px;
  	line-height: 100%;
  	border-radius: 0px;
  	-webkit-border-radius: 0px;
  	-moz-border-radius: 0px;
  	box-shadow: 2px 2px 3px #666666;
  	-webkit-box-shadow: 2px 2px 3px #666666;
  	-moz-box-shadow: 2px 2px 3px #666666;
  	background: -webkit-gradient(linear, left top, left bottom, from(#004b90), to(#003c73));
	background: -moz-linear-gradient(top, #004b90 0%, #003c73 100%);
	background: -ms-linear-gradient(top, #004b90 0%, #003c73 100%);
	background: linear-gradient(to bottom, #004b90 0%, #003c73 100%);
  	position:relative;
  	z-index:99999;
	width: 788px;
	margin-bottom: 50px;
}
#menu-bar li {
  margin: 0px 0px 6px 0px;
  padding: 0px 0px 0px 0px;
  float: left;
  position: relative;
  list-style: none;
  z-index:999;
  
}

#menu-bar li#contact-us-link {
float: right;	
}

#menu-bar a {
  font-weight: lighter;
	font: 1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-style: normal;
	color: #FFFDFD;
  text-decoration: none;
  display: block;
	padding: 15px 20px;
	margin: 0;
  margin-bottom: 6px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  text-shadow: 1px 1px 2px #000000;
}

@media screen and (max-width: 400px) {

#menu-bar a {
		font-size: 1.4em;
		display: hidden;
		text-align: center;
		
		
		
}
#menu-bar {
	height: 45px;
	display: hidden;
	width: 145px;
	}
	
#menu-bar li {
		width: 100%;
	}
	
#menu-bar li li {
		width: 100%;
	}
	
}

@media screen and (min-width: 401px) and (max-width: 768px) {


#menu-bar a {
		font-size: 1.4em;
		position: relative;
		text-align: center;
	padding-right: 10px;
	padding-left: 10px;
}

#menu-bar li {
	width: 100%;
}

#menu-bar li li {
	width: 100%;
}

#menu-bar {
	height: 45px;
	width: 100%;
}
}

@media screen and (min-width: 769px) and (max-width:1024px) {
	#menu-bar a {
		font-size: 0.9em;
		}
	#menu-bar {
		height: 45px;
		width: 630px;
		}
}

#menu-bar li ul li a {
  margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
  background: -webkit-gradient(linear, left top, left bottom, from(#fe9400), to(#eb8500)) #0399D4;
	background: -moz-linear-gradient(top, #fe9400 0%, #eb8500 100%) #0399D4;
	background: -ms-linear-gradient(top, #fe9400 0%, #eb8500 100%) #0399D4;
	background: linear-gradient(to bottom, #fe9400 0%, #eb8500 100%) #0399D4;
	color: #F2F2F2;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 1px 1px 2px #000000;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background: #0399D4 !important;
  background: linear-gradient(top,  #FF9900,  #ED8E00) !important;
  background: -ms-linear-gradient(top,  #FF9900,  #ED8E00) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF9900), to(#ED8E00)) !important;
  background: -moz-linear-gradient(top,  #FF9900,  #ED8E00) !important;
  color: #FFFFFF !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul {
  background: #DDDDDD;
  background: linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -ms-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
  background: -moz-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0;
  border: solid 1px #B4B4B4;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
    z-index:99999;
  
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#424242 !important;
  font-size:12px;
  font-style:normal;
  font-family:arial;
  font-weight: normal;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}